.form {
  display: flex;
  flex-direction: column;
}

.form .input:not(:last-child) {
  margin-bottom: 1.4rem;
}

.form-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-footer {
  margin-top: 1.4rem;
}

.form-error {
  color: #ff8787;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
