.section {
  padding: 5rem 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-size: 5rem;
  border-bottom: 1px solid var(--color-primary-2);
  margin-bottom: 4rem;
}

.heading span {
  color: var(--color-primary-2);
}

.content {
  min-width: 60rem;
  background: #1d1e30;
  padding: 2rem 3rem;
  border-radius: 0.4rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

.form .input:not(:last-child) {
  margin-bottom: 1.4rem;
}

.form-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-footer {
  margin-top: 1.4rem;
}

.form-error {
  color: #ff8787;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
